body {
    background-color: black;
    background-image: radial-gradient(rgba(0, 150, 0, 0.75), black 120%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

body::after {
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 1px, transparent 1px, transparent 2px);
    pointer-events: none;
}
::selection {
    background: #0080FF;
    text-shadow: none;
}

.terminal {
    white-space: pre;
    margin: 0;
    /* If you want to use a monospace font like <pre> does by default */
    font-family: monospace;
}

.commentStyle {
    color: grey !important;
    text-shadow: 0 0 5px #808080 !important;
}

.madnessStyle {
    color: red !important;
    text-shadow: 0 0 5px #C80000 !important;
}

#terminal-lines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 2rem;
}

#terminal-lines div:last-child {
    margin-bottom: 2rem;
}