body {
    position: absolute;
    background-image: url('https://pastvre.github.io/WORDaftermaths/PVC.jpg');
    background-attachment: fixed;
    background-repeat: repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font: 2vw Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    overflow: hidden;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

.terminal {
    white-space: pre;
    margin: 0;
    /* If you want to use a monospace font like <pre> does by default */
    font-family: monospace;
}

.commentStyle {
    color: lightsteelblue !important;
    text-shadow: 0 0 5px #F0F0F0 !important;
}


.madnessStyle,.glitch {
    color: #FF5555 !important;
    text-shadow: 0 0 5px #881111 !important;
}

.glitch::before {
    color: transparent !important;
    text-shadow: 0 0 5px #FF0000 !important;
}

.glitch::after {
    color: transparent !important;
    text-shadow: 0 0 5px #FF0000 !important;
}

#terminal-body {
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: 2rem;
    bottom: 2rem;
    background: rgb(0, 100, 0);
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0 0 7px #000000;
    overflow: hidden;
    border-radius: 1rem;
}

#terminal-lines {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: auto;
    padding: 1rem;
    box-shadow: inset -8px -8px 27px #000000;
    bottom: -17px;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}

#terminal-lines div:last-child {
    margin-bottom: 2rem;
}

#terminal-lines div::after {
    text-shadow: 0 0 5px #C8C8C8;
}

#terminal-foreground {
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(rgba(103, 255, 103, 0.0), rgba(0,0,0,0.5) 100%);
    border-radius: 1rem;
    pointer-events: none;
}

#terminal-foreground::after  {
    content: "";
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 0.1em, transparent 0.1em, transparent 0.2em);
    border-radius: 1rem;
    pointer-events: none;
}

.logo {
    background-image: url('https://pastvre.github.io/WORDaftermaths/WAUKEEN.png');
    background-color: transparent;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16rem;
    height: 1.5rem;
}